/* Reset y estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Contenedor principal */
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

/* Encabezado */
.header {
    background-image: url("img/riohacha5.jpg");
    color: white;
    text-align: center;
    padding: 50px 0;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
/* Estilos generales para las imágenes en cada sección */
.image-container {
    text-align: center;
    margin-bottom: 30px; /* Espaciado debajo de la imagen */
}

.section-image {
    max-width: 100%; /* Asegura que las imágenes no se salgan del contenedor */
    height: auto; /* Mantiene la proporción original de la imagen */
    border-radius: 10px; /* Bordes redondeados para un estilo más moderno */
}
.social-links{
    display: flex;
    justify-content: center;
}
/* Asegura que las secciones se vean bien con las imágenes */
.section {
    padding: 50px 0;
    text-align: center;
    background-color: #ffffff; /* Fondo blanco para contraste con la imagen */
}

/* Sección de imagen de la cabecera */
.header .image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}


.header h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.header p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.cta-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cta-button {
    background-color: #FF6F61;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
}

.cta-button:hover {
    background-color: #D55C50;
}

/* Sección común */
.section {
    padding: 50px 0;
    text-align: center;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

/* Características (para la sección "¿Por qué Eventy?") */
.features {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.feature {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
}

.feature h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.feature p {
    font-size: 1em;
    color: #555;
}

/* Footer */
footer {
    background-color: #2C3E50;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer .social-links {
    margin-top: 10px;
}

footer .social-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer .social-links a:hover {
    text-decoration: underline;
}
