aside {
  h2 {
    font-size: x-large;
    padding-inline: 20px;
  }
}
#organicer {
  background-color: white;
  height: calc(100vh - 180px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  span {
    display: flex;
    align-items: center;
  }
  span:last-child {
    padding-bottom: 20px;
    border-bottom: solid #bbb 3px;
  }
  span img {
    width: 20px;
    margin-right: 10px;
  }
  padding-bottom: 15px;
  border-bottom: solid black 3px;
  p{
    font-size: large;
    color: #aaa;
  }
  .foto {
    min-width: 200px;
    max-width: 250px;
    border-radius: 20px;
  }

}
h1 {
  font-size: xx-large;
}
.org-card{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  align-content: center;
  padding: 20px 20px 0px 20px;
  .foto img {
    width:100px;
    border-radius: 20px;
  }
}

.vacio {
  background-color: #aaa;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100px;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  img {
    width: 100px;
    margin-bottom: 20px;
  }
  span{
    font-size: x-large;
  }
}
